.authorDiv {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.authorcoverCover {
  height: 50vh;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.authorCover {
  height: 50vh;
  padding: 2rem;
}

.authorPicture {
  height: 50vh;
}

.authorLeftDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.authorDescriptionDiv {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.authorlistList {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem;
}

.authorlistLi {
  list-style-type: none;
  padding-top: 2rem;
}

.authorForm {
  display: flex;
  flex-direction: column;
}

.authorForm textarea {
  width: 40vw;
  resize: none;
}

.authorForm button {
  width: 20vw;
}

.authorButton {
  height: 5vh;
  background-color: #050503;
  border: none;
  border-radius: 2px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.authorBookList {
  list-style-type: disc;
  margin-bottom: 1rem;
}

.authorTitle {
  margin-bottom: 1rem;
}

.authorResume {
  margin-bottom: 1rem;
  text-align: justify;
}

.authorUnderline {
  text-decoration: underline;
  font-size: 1.2rem;
}