.bookCreateTitle {
  text-align: center;
  font-size: 1.8rem;
  padding: 1rem;
}

.bookCreateForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.bookCreateForm input {
  width: 50vw;
  height: 3vh;
  margin-bottom: 1rem;
}

.bookCreateForm label {
  padding-bottom: .5rem;
}

.bookCreateForm textarea {
  width: 50vw;
  height: 30vh;
  resize: none;
  margin-bottom: 1rem;
}

.bookCreateFormButton {
  width: 20vw;
  height: 5vh;
  font-size: 1rem;
  background-color: #050503;
  color: white;
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
}
