* {
  margin: 0;
}

.homeHeader {
  background: url(https://cdn.pixabay.com/photo/2019/11/04/10/15/book-4600757_960_720.jpg) no-repeat center top;
	background-size: cover;
  height: 93vh;
}

.homeh1 {
  font-size: 4rem;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 8vh;
  padding-left: 5vw;
}