.navbar {
  background-color: #050503;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.burger_hamburger-box__3lYk7{
  top: -1.5vh;
}

.navbarTitleApp a {
  text-decoration: none;
  color: white;
  margin-left: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
}

.navbarMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbarMenu li {
  list-style-type: none;
  margin-right: 5rem;
}

.navbarMenu li a {
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 1.4rem;
}

.burger_hamburger-box__3lYk7{
  left: 80vw;
}

@media screen and (max-width: 768px) {

  .navbarMenu {
    display: flex;
    flex-direction: row;
  }

  .navbarMenu {
    display: flex;
    flex-direction: column;
    background-color: #050503;
    position: absolute;
    top: 10vh;
  }

  .navbarMenu li {
    margin-right: 0;
    padding: 0.4rem;
  }

  .burger_hamburger-box__3lYk7{
    left: 40vw;
  }

  
}